html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table, td {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: deepskyblue;
}
table, th{
  border-style: none;
  background-color: white;
}
.leftCol {
  border-left: none; 
  border-top:none; 
  border-bottom:none;
  background-color: white;
}
.grey {
  background-color: #e6f7ff;
}
.underThreeCommits{
  background-color: #cceeff;
}
.underFiveCommits{
  background-color: #b3e6ff;
}
.underSevenCommits{
  background-color: #99ddff;
}
.SevenPlusCommits{
  background-color: #80d4ff;
}
form{
  text-align: center;
}